.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	border: 0px;
	outline: none;
}

.line-input,
.line-box {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	font-weight: 500;
}

.line-input input {
	font-size: inherit;
	line-height: inherit;
	padding: 0px 16px;
	background-color: #F4F4F4;
}

.line-box {
	width: 48px;
	text-align: center;
	background-color: #00ed4f;
}