* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	user-select: none;
}

body {
	height: 100%;
	width: 100%;
	text-align: center;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.calc-base {
	width: 320px;
	margin: 40px auto;
	border-radius: 8px;
	overflow: hidden;
}

.result {
	display: block;
	text-align: right;
	font-size: 24px;
	color: orange;
	padding: 24px 16px;
	background-color: rgb(12, 11, 17);
}

.numbers,
.math-operations {
	display: inline-block;
}

.numbers {
	width: 240px;
	min-height: 80px;
	background-color: rgb(26, 25, 31);
}

.math-operations {
	width: 80px;
	min-height: 80px;
	background-color: rgb(47, 46, 51);
}

	button {
		cursor: pointer;
		outline: none;
		border: none;
		display: inline-block;
		text-align: center;
		height: 80px;
		width: 80px;
		font-size: 24px;
		background-color: transparent;
	}

	button.number {
		color: yellow;
	}

	button.operation {
		color: turquoise;
	}